<!doctype html>
<html>
 {% include 'components/navbar.html.jinja' %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  
  <body class="bg-[#f9f9f5] min-h-screen">
    {% for x in cart%}
    <img class="" src="{{x['image']}}">

    {{x["Name"]}}</div>
    ${{x["Price"]}}
    Size:{{["Size"]}}

    <form method="post" action=""/cart/{{ x['ProductID'] }}/upgrade_qty">
    <input name="qty" type="number" value="{{x['Quantity']}}">
   <p>Total: ${{ x['Price'] * x['Quantity']}}</p>
   <button type="submit"> Update </button>
    </form>
    <a class="" href="/checkout">
    Checkout
    </a>
    {%endfor%}
  </body>

</html>
