<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

    {% include 'components/navbar.html.jinja' %}

  
    <img 
      src="/static/products/Backsplash_Mccoy.png" 
      alt="Under navbar image"
      class="w-full h-auto"
    >
  </body>
</html>


