<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-[#f9f9f5] min-h-screen flex flex-col">

    {% include 'components/navbar.html.jinja' %}
    {% for message in get_flashed_messages() %}
    <li> {{message}} </li>
    {% endfor %}

    <div class="flex flex-1 items-center justify-center px-4">
      <div class="w-full max-w-md bg-white shadow-lg rounded-xl p-8 border border-gray-200">

        <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
          Login to your account
        </h2>

        <form method="POST" action="/login">
          <label class="block mb-4">
            <span class="text-gray-700 text-sm font-medium">Email</span>
            <input
              type="email"
              name="email"
              required
              class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg bg-[#fafaf5] focus:outline-none focus:ring-2 focus:ring-gray-400"
            />
          </label>

          <label class="block mb-6">
            <span class="text-gray-700 text-sm font-medium">Password</span>
            <input
              type="password"
              name="password"
              required
              class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg bg-[#fafaf5] focus:outline-none focus:ring-2 focus:ring-gray-400"
            />
          </label>

         <button
  type="submit"
  class="relative mt-4 w-full md:w-auto py-2.5 px-42
         text-white rounded-full font-medium tracking-wide
         bg-[url('https://www.onlygfx.com/wp-content/uploads/2016/01/oak-wood.png')]
         bg-cover bg-center shadow-md overflow-hidden
         hover:brightness-90 transition"
>
  <span class="absolute inset-0 bg-black/60"></span>
  <span class="relative">Login</span>
</button>
        </form>

        <p class="text-center text-sm text-gray-600 mt-4">
          Don't have an account?
          <a href="/register" class="text-gray-900 font-medium underline">
            Sign up
          </a>
        </p>

      </div>
    </div>

  </body>
</html>
