<!doctype html>
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-[#f9f9f5] min-h-screen flex items-center justify-center px-4">

    <div class="bg-white shadow-lg rounded-xl p-10 max-w-lg text-center">

      <div class="text-black-600 text-6xl mb-4">
        ✓
      </div>

      <h1 class="text-3xl font-bold text-gray-800 mb-4">
        Thank You for Your Order!
      </h1>

      <p class="text-gray-600 text-lg mb-6">
        Your purchase has been successfully completed.  
        We’re preparing your items and will notify you when they’re on the way.
      </p>

      <a 
        href="/browse"
        class="inline-block bg-green-600 text-white px-6 py-3 rounded-lg text-lg font-semibold hover:bg-green-700 transition bg-[url('https://www.onlygfx.com/wp-content/uploads/2016/01/oak-wood.png')]
         bg-cover bg-center shadow-md overflow-hidden
         hover:brightness-90 transition"
      >
        Continue Shopping
      </a>

    </div>

  </body>
</html>
