<nav class="relative bg-black bg-cover bg-center" 
     style="background-image: url('https://images.pexels.com/photos/172289/pexels-photo-172289.jpeg?auto=compress&cs=tinysrgb&w=800');">
  
  <div class="absolute inset-0 bg-black/80"></div>

  <div class="relative z-10 max-w-7xl mx-auto h-16 px-6 flex items-center justify-between">
    

    <div class="text-white font-bold text-xl tracking-wider uppercase">
      WoodBrand
    </div>


    <div class="flex items-center space-x-8 text-white">
      <a href="#" class="hover:text-gray-300 uppercase tracking-wide">Login</a>

      <a href="#" class="relative hover:text-gray-300 uppercase tracking-wide">
        Cart
        <span class="absolute -top-2 -right-4 bg-yellow-400 text-black text-xs font-semibold rounded-full px-2 py-0.5">
          0
        </span>
      </a>
    </div>

  </div>
</nav>
