<nav
  class="
    text-white
    bg-[#0a0a0a]

    bg-[repeating-linear-gradient(90deg,rgba(255,255,255,0.05)_0px,rgba(255,255,255,0.05)_1px,rgba(0,0,0,1)_3px,rgba(0,0,0,1)_6px),
       radial-gradient(circle_at_20%_50%,rgba(255,255,255,0.06),transparent_60%),
       radial-gradient(circle_at_80%_40%,rgba(255,255,255,0.04),transparent_70%),
       linear-gradient(180deg,rgba(255,255,255,0.03),rgba(0,0,0,0.95))]
    [background-blend-mode:multiply]

    shadow-[inset_0_1px_0_rgba(255,255,255,0.05),0_8px_24px_rgba(0,0,0,0.7)]
  "
>
  <div class="flex items-center justify-between pr-6 py-4">
<a href="/">
    <img
      src="/static/products/logo.png" 
      alt="Brand Logo" 
      class="h-25 w-auto"
      href="/" >
</a>
    <div class="flex items-center gap-6 text-sm uppercase tracking-[0.15em]">
    {% if not current_user.is_authenticated %}
      <a href="/login" class="hover:text-gray-300">Login</a>
      {% else %}
Hello, {{ current_user.name }}
<a href="/cart" class="hover:text-gray-300">Cart</a>
</button>
{% endif %}
      <a href="/browse" class="hover:text-gray-300">Menu</a>
    </div>

  </div>
  
</nav>
